@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-4 sm:mx-6 md:mx-8 lg:mx-auto;
  }

  :root {
    --text-color: #FF9F01;
    --text-color-custom: #FF9F01;
  }
  .text-custom-color {
    color: var(--text-color);
  }
  .primary {
    color: var(--text-color);
  }
  .primaryColor {
    color: var(--text-color-custom);
  }
  
}
